/* ================================== Mobile First ==================================*/

@media screen and (max-width: 767px) {
  .doing-section {
    display: none;
  }
}

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .doing-section {
    display: none;
  }
}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1158px) {
  .doing-section {
    padding-bottom: 120px;
  }

  .doing-list {
    display: flex;
    gap: 24px;
  }

  .doing-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
