/* ================================== Mobile First ==================================*/

@media screen and (max-width: 767px) {
  .team {
    background-color: var(--cloud);
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }

  .team-list-item {
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .team-list-info {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    gap: 8px;
  }

  .team-list-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }

  .team-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: var(--ocean);
  }

  .team-social-icon {
    fill: var(--cloud);
  }
}

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team {
    background-color: var(--cloud);
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-list-item {
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .team-list-info {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    gap: 8px;
  }

  .team-list-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }

  .team-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: var(--ocean);
  }

  .team-social-icon {
    fill: var(--cloud);
  }
}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1158px) {
  .team {
    background-color: var(--cloud);
  }

  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .team-list-info {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    gap: 8px;
  }

  .team-list-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }

  .team-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: var(--ocean);
  }

  .team-social-icon {
    fill: var(--cloud);
  }
}
