/* 428px, 768px Ñ– 1158px. */

/* ================================== Mobile Style ==================================*/

@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
